.popularPost .box {
  margin: 15px 15px 15px 0;
}
.popularPost img {
  width: 100%;
  height: 100%;
}
.popularPost .text {
  padding: 20px;
}
.popularPost a {
  text-decoration: none;
  color: black;
}
.popularPost .text h1:hover{
  color: #F1CB83;
}
.popularPost .text h1:active{
  color: black;
}
.popularPost .text:hover {
  color: #F1CB83;
}
.popularPost .text:active{
  color: black;
}

